{% extends "master.html" %}

{% block title %}
    Εγγραφή
{% endblock %}


{% block content %}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">

            <h3> Φόρμα Εγγραφής </h3>

            <form action="#" method="post">
                
                {{ pageForm.hidden_tag() }}

                <div class="mb-3">
                    {{ pageForm.username.label(class="form-label") }}
                    {{ pageForm.username(class="form-control") }}

                    <div id="usernameHelp" class="form-text">
                        Παρακαλώ δώστε επιθυμητό username
                    </div>

                    {% if pageForm.username.errors %}
                        <ul class="errors">
                            {% for error in pageForm.username.errors %}
                                <li class="alert text-danger">
                                    {{ error }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {{ pageForm.email.label(class="form-label") }}
                    {{ pageForm.email(class="form-control") }}

                    <div id="emailHelp" class="form-text">
                        Παρακαλώ δώστε επιθυμητό email
                    </div>

                    {% if pageForm.email.errors %}
                        <ul class="errors">
                            {% for error in pageForm.email.errors %}
                                <li class="alert text-danger">
                                    {{ error }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ pageForm.password.label(class="form-label") }}
                    {{ pageForm.password(class="form-control", type="password") }}

                    <div id="passwordHelp" class="form-text">
                        Παρακαλώ δώστε επιθυμητό κωδικό πρόσβασης
                    </div>

                    {% if pageForm.password.errors %}
                        <ul class="errors">
                            {% for error in pageForm.password.errors %}
                                <li class="alert text-danger">
                                    {{ error }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ pageForm.password2.label(class="form-label") }}
                    {{ pageForm.password2(class="form-control", type="password") }}

                    <div id="password2eHelp" class="form-text">
                        Παρακαλώ επιβεβαιώστε τον κωδικό
                    </div>

                    {% if pageForm.password2.errors %}
                        <ul class="errors">
                            {% for error in pageForm.password2.errors %}
                                <li class="alert text-danger">
                                    {{ error }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {{ pageForm.submit(class="btn btn-primary") }}
                </div>
            
            
            </form>
        
        
        </div>
    </div>
</div>


















{% endblock %}
